---
- name: Verify K3s Deployment
  hosts: local
  tasks:
    - name: Verify K3s Cluster Node Status
      command: kubectl get nodes
      register: nodes_status

    - name: Print Node Status
      debug:
        msg: "{{ nodes_status.stdout_lines }}"

    - name: Verify Pods in Devops Namespace
      command: kubectl get pods -n devops-project
      register: pods_status

    - name: Ensure Critical Pods are Running
      fail:
        msg: "Pod {{ item }} is not running in devops-project namespace"
      loop:
        - mongodb
        - postgres
        - user-authentication
        - product-catalogue
        - gestion-commandes
        - admin-dashboard
        - frontend
      when: item not in pods_status.stdout


