apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: default
data:
  fluent.conf: |
    # Input: Read logs from Docker/CRI container log files
    <source>
      @type tail
      path /var/log/containers/*.log
      exclude_path ["/var/log/containers/*fluentd*.log", "/var/log/containers/*elasticsearch*.log", "/var/log/containers/*kibana*.log"]
      pos_file /var/log/fluentd-containers.log.pos
      tag kubernetes.*
      read_from_head true
      <parse>
        @type json
        time_format %Y-%m-%dT%H:%M:%S.%NZ
      </parse>
    </source>

    # Filter: Add Kubernetes metadata (Pod Name, Namespace, etc.)
    <filter kubernetes.**>
      @type kubernetes_metadata
    </filter>

    # Output: Send to Elasticsearch
    <match kubernetes.**>
      @type elasticsearch
      host elasticsearch
      port 9200
      logstash_format true
      logstash_prefix k8s-logs
      logstash_dateformat %Y.%m.%d
      include_tag_key true
      type_name access_log
      tag_key @log_name
      flush_interval 5s
    </match>
