apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: achrefs161/frontend-service:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        volumeMounts:
        - name: config-volume
          mountPath: /app/public/config.json
          subPath: config.json
      volumes:
      - name: config-volume
        configMap:
          name: app-config
