apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      initContainers:
      - name: wait-for-backend
        image: busybox:1.28
        command: ['sh', '-c', "until nc -z -v -w30 user-auth-service 5000 && nc -z -v -w30 product-service 4000 && nc -z -v -w30 order-service 5100; do echo waiting for backend; sleep 5; done"]
      containers:
      - name: frontend
        image: achrefs161/frontend-service:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        volumeMounts:
        - name: config-volume
          mountPath: /app/public/config.json
          subPath: config.json
      volumes:
      - name: config-volume
        configMap:
          name: app-config
